# /etc/systemd/system

[Unit]
Description=Http Get Url to Local Disk

[Service]
WorkingDirectory=/usr/local/etc/hget
ExecStart=/usr/bin/dotnet /usr/local/etc/hget/HttpGetUrl.dll
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
Alias=hget.service
